= form_for @study_user do |f|
  - if @study_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@study_user.errors.count, "error")} prohibited this study_user from being saved:"
      %ul
        - @study_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :study
    = f.text_field :study
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
