%p#notice= notice
%h1 Listing Study Forms
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @study_forms.each do |study_form|
      %tr
        %td= link_to 'Show', study_form
        %td= link_to 'Edit', edit_study_form_path(study_form)
        %td= link_to 'Destroy', study_form, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Study form', new_study_form_path
