%h1 Listing participant_event_form_fields

%table
  %thead
    %tr
      %th Participant event form
      %th
      %th
      %th

  %tbody
    - @participant_event_form_fields.each do |participant_event_form_field|
      %tr
        %td= participant_event_form_field.participant_event_form
        %td= link_to 'Show', participant_event_form_field
        %td= link_to 'Edit', edit_participant_event_form_field_path(participant_event_form_field)
        %td= link_to 'Destroy', participant_event_form_field, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Participant event form field', new_participant_event_form_field_path
