= semantic_form_for @participant_event_form do |pef|
  = pef.inputs do
    - @fields.each_with_index do |fi, i|
      = label_tag fi.label
      = peff_input(fi, i)
      %br/

  = pef.actions do
    = pef.action :submit, :as => :input