:javascript
  $(document).ready(function(){
   #{conditions(@event_form.form)}
  });
= semantic_form_for [@participant, @participant_event_form] do |f|
  = f.inputs do
    - @fields.each_with_index do |fi, i|
      = label_tag fi.label
      = peff_id(@participant_event_form, i)
      = peff_field_id(fi, i)
      = peff_field_value(fi, i, @participant_event_form)
      %br/
  = hidden_field_tag 'event_form_id', params[:event_form_id]
  = f.actions do
    = f.action :submit, :label => 'Submit'