%h1 Listing form_conditions

%table
  %thead
    %tr
      %th Form
      %th
      %th
      %th

  %tbody
    - @form_conditions.each do |form_condition|
      %tr
        %td= form_condition.form
        %td= link_to 'Show', form_condition
        %td= link_to 'Edit', edit_form_condition_path(form_condition)
        %td= link_to 'Destroy', form_condition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Form condition', new_form_condition_path
