%p
%p
  %strong
    = @participant.participant_identifier
  %table.table
    - @study.events.each do |event|
      %tr
        %td
          = event
          - event.event_forms.each do |event_form|
            = link_to_participant_event_form(event_form)

= link_to 'Edit', edit_participant_path(@participant)
|
= back_to_study(@study)
