= semantic_form_for [@study, @event] do |f|
  = f.inputs
  = f.semantic_fields_for :study_event_forms do |sef|
    = render 'study_event_form_fields', f: sef
  .links
    = link_to_add_association 'add form', f, :study_event_forms
  = f.actions
