%p
%p
  %strong
    = @event
  = link_to 'edit', edit_event_path(@event)
%table.table
  %tr
    %td{:style => 'width:10%;'}
      %strong
        Forms
    %td
      - @event.event_forms.each do |ef|
        %strong
          = link_to ef, edit_event_form_path(ef)
        = link_to_delete(ef)
        %br/
      = link_to add, new_event_event_form_path(@event)
= back_to_study(@event.study)
