= semantic_form_for [@field, @field_validation] do |f|
  = f.input :connector, :as => :select, :collection => FieldValidation.connectors.keys
  = f.input :operator, :as => :select, :collection => FieldValidation.operators.keys
  = f.input :operand
  .actions
    = f.submit 'Submit'