%p#notice= notice

%p
  %b References:
  = @study_centre.references
%p
  %b References:
  = @study_centre.references

= link_to 'Edit', edit_study_centre_path(@study_centre)
\|
= link_to 'Back', study_centres_path
