.nested-fields
  = f.inputs do
    = f.input :code
    = f.input :label
    = f.input :field_type, :label => 'Type'#, :as => :select, :collection => FieldType.all
    = link_to_remove_association 'remove field', f