= semantic_form_for [@study, @form] do |f|
  = f.inputs
  = f.semantic_fields_for :fields do |fi|
    = render 'field_fields', f: fi
  .links
    = link_to_add_association 'add field', f, :fields
  = f.actions