%p
%p
  %strong
    = @form
  = link_to 'edit', edit_form_path(@form)
-#Name:
-#=@form
-#%br/
-#%br/
%table.table
  %tr
    %td{:style => 'width:10%;'}
      %strong
        Fields
    %td
      - @form.fields.each do |field|
        %strong
          = link_to field, field_path(field)
        = link_to_delete(field)
        %br/
      = link_to add, new_form_field_path(@form)
= back_to_study(@form.study)
