= semantic_form_for [@form, @field] do |f|
  = f.input :name
  = f.input :code
  = f.input :label
  = f.input :number
  = f.input :field_type, :label => 'Type', :as => :select, :collection => Field.field_types.keys
  = f.input :required
  -#= 'Values'
  -#= f.semantic_fields_for :field_values do |fi|
  -#  = render 'field_value_fields', f: fi
  -#.links
  -#  = link_to_add_association 'add field value', f, :field_values
  .actions
    = f.submit 'Submit'
