%table.table
  %tr
    %td{:style => 'width:10%;'}
      %strong
        Values
    %td
      - @field.field_values.each do |fv|
        %strong
          = link_to fv, edit_field_value_path(fv)
        = link_to_delete(fv)
        %br/
      = link_to add, new_field_field_value_path(@field) if @field.id
  %tr
    %td{:style => 'width:10%;'}
      %strong
        Validations
    %td
      - @field.field_validations.each do |fv|
        %strong
          = link_to fv, edit_field_validation_path(fv)
        %br/
      = link_to add, new_field_field_validation_path(@field) if @field.id
      -#= link_to 'New Value', new_form_field_path(@form)
      -#= link_to 'Back to form', form_path(@field.form)