= semantic_form_for [@form, @field] do |f|
  = f.input :name
  = f.input :code
  = f.input :label
  = f.input :number
  = f.input :field_type, :label => 'Type', :as => :select, :collection => Field.field_types.keys
  = f.input :required
  = render 'form_links'
  .actions
    = f.submit 'Submit'
